<div class='container mt-5'>
  <div class='row'>
    <h1 class="px-3 mx-auto">POSTS LIST</h1>
  </div>
  
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
    <% @posts.each do |post| %>
      <div class="col mb-4">
        <div class="card h-100">
          <%= link_to post_path(post.id), class: "text-dark text-decoration-none" do %>
            <%= image_tag post.image.variant(resize_to_limit: [300, 300]), class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-text">Challenge Theme:</h5>
              <h5 class="card-text"><%= post.theme %></h5>
              <p>user: <%= post.member.name %></p>
              <small class="text-muted">posting date: <%= post.created_at.strftime("%Y/%m/%d") %></small>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  
</div>