<div class='container mt-5'>
  <div class='row'>
    <h1 class="px-3 mx-auto">投稿一覧</h1>
  </div>
  
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.image, class: "img-fluid mt-3" %>
        <% end %>
      </div>
    <% end %>
  </div>
  
  <!--タグリスト-->
  <div>
    <% @tag_list.each do |list|%>
      <%=link_to list.name,search_tag_path(tag_id: list.id) %><%= "(#{list.posts.count})" %>
    <% end %>
  </div>

  <!--投稿一覧画面で投稿に紐づくタグを表示-->
  <div>
    <i class="fas fa-tag"></i>
    <% @posts.each do |post| %>
      <%= post.tags.map(&:name).join(', ') %>
    <% end %>
  </div>

  
</div>