<div class="container my-5">
    <!--投稿画像表示-->
    <div class="row d-flex justify-content-center">
      <%= image_tag @post.image %>
    </div>

    <!--お気に入り機能-->
    <div class="row d-flex justify-content-end">
      <div class="col mb-3 d-flex justify-content-end" id="favorite_buttons_<%= @post.id %>">
        <%= render "public/favorites/btn", post: @post %>
      </div>
    </div>

    <!--投稿ユーザーアイコン-->
    <div class="row d-flex justify-content-center">
      <%= link_to member_path(@post.member.id), class: "text-decoration-none" do %>
        <% if @post.member.profile_image.attached? %>
          <%= image_tag @post.member.profile_image.variant(resize: '80x80'), class: "rounded-circle" %>
        <% else %>
          <%= image_tag "no_image.jpg", class: "rounded-circle", size: '80x80' %>
        <% end %>
      <% end %>
    </div>
    
     <!--投稿ユーザー名-->
    <div class="row d-flex justify-content-center">
      <%= link_to member_path(@post.member.id), class: "text-decoration-none" do %>
        <div class="row mt-1 d-flex justify-content-center text-dark">
          <h5><%= @post.member.name %></h5>
        </div>
      <% end %>
    </div>

    <!--投稿情報表示-->
    <div class="row d-flex align-items-center flex-column">
      <!--投稿時のテーマ-->
      <h4>Challenge Theme：<%= @post.theme %></h4>
      <!--投稿の説明文-->
      <p><%= @post.body %></p>
      <!--投稿のタグ一覧-->
      <% if @post_tags.present? %>
        <div class="d-flex align-items-center">
          <i class="fas fa-tag mr-1 show-tag-icon"></i>
          <% @post_tags.each do |tag| %>
            <%= link_to tag.name,search_tag_path(tag_id: tag.id), class: "btn btn-sm btn-outline-secondary mr-2"%>
          <% end %>
        </div>
      <% end %>
      <!--投稿日時-->
      <small class="text-muted mt-2">posting date: <%= @post.created_at.strftime("%Y/%m/%d %H:%M") %></small>
    </div>

    <!--投稿編集リンク-->
    <div class="row">
      <div class="col mb-3 d-flex justify-content-end">
        <% if @post.member == current_member %>
          <%= link_to '編集', edit_post_path(@post), class: "btn btn-outline-secondary rounded-pill" %>
        <% end %>
      </div>
    </div>

    <!--ライン-->
    <div class="row border-top"></div>

    <!--コメント機能-->
    <div class="row mt-3">
      <div class="col h5"><i class="far fa-comment mr-1"></i>コメント</div>
    </div>

    <div class="row">
      <!--コメント一覧-->
      <div class="col-6 mt-3" id="comments_area">
        <%= render 'public/post_comments/index', post: @post %>
      </div>

      <!--コメント投稿フォーム-->
      <div class="col-6 mt-3">
        <%= render 'public/post_comments/form', post: @post, post_comment: @post_comment %>
      </div>
    </div>
</div>