<div class="container mt-5">
  <div class="row">
    <h3 class="mx-auto">
      <%= @member.name%>さんの登録情報詳細
    </h3>
  </div>
  
  <div class="row">
    <table class="table">
      <tr class="text-center">
        <td class="">ユーザーID</td>
        <td><%= @member.id %></td>
      </tr>
      <tr class="text-center">
        <td>ユーザー名</td>
        <td>
          <%= link_to member_path(@member) do %>
            <%= @member.name %>
          <% end %>
        </td>
      </tr>
      <tr class="text-center">
        <td>アイコン</td>
        <td>
          <% if @member.profile_image.attached? %>
            <%= image_tag @member.profile_image.variant(resize: "80x80"), class: "rounded-circle" %>
          <% else %>
            登録無し
          <% end %>
        </td>
      </tr>
      <tr class="text-center">
        <td>自己紹介</td>
        <td>
            <% if @member.introduction.present? %>
              <%= @member.introduction %>
            <% else %>
              登録無し
            <% end %>
        </td>
      </tr>
      <tr class="text-center">
        <td>メールアドレス</td>
        <td><%= @member.email %></td>
      </tr>
      <tr class="text-center">
        <td>ユーザーステータス</td>
        <% if @member.is_deleted == false %>
          <td class="text-success">有効</td>
        <% else %>
          <td class="text-black-50">退会</td>
        <% end %>
      </tr>
    </table>
  </div>
  <div class="row justify-content-center">
      <%= link_to "編集する", edit_admin_member_path(@member.id),class: "btn btn-success mr-3" %>
  </div>
  
  <div class="row mt-5 d-flex justify-content-center">
    <h5><i class="far fa-images"></i> 投稿一覧</h5>
  </div>
  
  <div class="row justify-content-center">
    <% if @post.present? %>
      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th>投稿ID</th>
            <th>Challenge Theme</th>
            <th>説明</th>
            <th>投稿日時</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @post.each do |post| %>
            <tr>
              <td><%= post.id %></td>
              <td><%= post.theme %></td>
              <td><%= post.body %></td>
              <td><%= post.created_at.strftime("%Y/%m/%d %H:%M") %></td>
              <td><%= link_to "詳細", post_path(post.id), class: "btn btn-primary rounded-pill" %></td>
              <td><%= link_to "削除", admin_post_path(post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger rounded-pill" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="mt-3">投稿はありません</p>
    <% end %>
  </div>
  
  <div class="row mt-5 d-flex justify-content-center">
    <h5><i class="far fa-comment"></i> コメント一覧</h5>
  </div>
  
  <div class="row justify-content-center">
    <% if @post_comment.present? %>
      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th>コメントID</th>
            <th>コメント</th>
            <th>投稿日時</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @post_comment.each do |post_comment| %>
            <tr>
              <td><%= post_comment.id %></td>
              <td><%= post_comment.comment %></td>
              <td><%= post_comment.created_at.strftime("%Y/%m/%d %H:%M") %></td>
              <td><%= link_to "詳細", post_path(post_comment.post), class: "btn btn-primary rounded-pill" %></td>
              <td><%= link_to "削除", admin_post_comment_path(post_comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger rounded-pill" %></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="mt-3">コメントはありません</p>
    <% end %>
  </div>
</div>