<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h2 class="text-center my-5">管理者ログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'new_user', id: 'session_new' }) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'Password' %>
        </div>

        <div class="form-group mt-4">
          <%= f.submit 'Log in', class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>

      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>
