<div class="container my-5">
  <div class="row">
    <h2 class="mx-auto">検索結果</h2>
  </div>

  <!--検索対象モデルがMemberの場合 -->
  <% if @range == "ユーザー" %>
    <% if @members.empty? %>
      <div class="mt-5 text-center">検索結果がありませんでした</div>
      <div class="mt-5 d-flex justify-content-center">
        <%= image_tag 'no_search.png', class: 'search-bg', height: '300px' %>
      </div>
    <% else %>
      <table class="table">
      <tbody>
        <% @members.each do |member| %>
          <tr>
            <td>
                <% if member.profile_image.attached? %>
                  <%= image_tag member.profile_image.variant(resize: "80x80"), class: "rounded-circle" %>
                <% else %>
                  <%= image_tag "no_image.jpg", class: "rounded-circle", size: "80x80" %>
                <% end %>
              <%= link_to member_path(member), class: "text-dark text-decoration-none" do %>
                <%= member.name %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @members %>
    <% end %>
  <!--検索対象モデルがChallengeの場合 -->
  <% elsif @range == "Challenge Theme" %>
    <% if @posts.empty? %>
      <div class="mt-5 text-center">検索結果がありませんでした</div>
      <div class="mt-5 d-flex justify-content-center">
        <%= image_tag 'no_search.png', class: 'search-bg', height: '300px' %>
      </div>
    <% else %>
      <div class='row'>
        <span class="col text-right">
          <i class="fas fa-sort text-black-50 mr-1"></i>
          <%= link_to '新しい順', search_path(latest: "true", search: params[:search], word: params[:word], range: params[:range]), class: "text-black-50 text-decoration-none soat" %>
           <%= link_to '古い順', search_path(old: "true", search: params[:search], word: params[:word], range: params[:range]), class: "text-black-50 text-decoration-none soat" %>
           <%= link_to 'お気に入り数順', search_path(most_favorited: "true", search: params[:search], word: params[:word], range: params[:range]), class: "text-black-50 text-decoration-none soat" %>
        </span>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
        <%= render "public/posts/index", posts: @posts %>
      </div>
      <%= paginate @posts %>
    <% end %>
  <!--検索対象モデルがタグの場合 -->
  <% else %>
    <% if @tags.empty? %>
      <div class="mt-5 text-center">検索結果がありませんでした</div>
      <div class="mt-5 d-flex justify-content-center">
        <%= image_tag 'no_search.png', class: 'search-bg', height: '300px' %>
      </div>
    <% else %>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
        <% @tags.each do |tag| %>
          <% tag.posts.each do |post| %>
            <div class="col mb-4">
              <div class="card h-100 shadow-sm">
                <%= link_to post_path(post), class: "text-dark text-decoration-none" do %>
                  <%= image_tag post.image.variant(resize_to_limit: [300, 300]), class: "card-img-top" %>
                <% end %>
                  <div class="card-body">
                    <h5 class="card-text">Challenge Theme:</h5>
                    <h5 class="card-text"><%= post.theme %></h5>
                    <p class="card-text">user:<%= link_to post.member.name, member_path(post.member), class: "text-dark text-decoration-none" %></p>
                    <small class="text-muted">posting date: <%= post.created_at.strftime("%Y/%m/%d %H:%M") %></small>
                  </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>