<div class="jumbotron jumbotron-fluid">
  <div class="container text-white text-center mb-5">
    <h3 class="top-text">日々のテーマで繋がる<br class="d-lg-none">フォトシェアコミュニティ</h3>
  </div>
  <div class="container text-center text-white">
    <h2>Today's Challenge</h2>
    <h1 class="border"><%= @daily_theme %></h1>
  </div>
</div>

<!--タブメニュー-->
<div class="container mt-5">
  <ul class="nav justify-content-center" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active text-black-50 font-weight-bold tab" id="new-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new" aria-selected="true"><i class="fas fa-bolt mr-1"></i>新着</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link text-black-50 font-weight-bold tab" id="ranking-tab" data-toggle="tab" href="#ranking" role="tab" aria-controls="ranking" aria-selected="false"><i class="fas fa-trophy mr-1"></i>月間TOP3</a>
    </li>
    <% if current_member %>
      <li class="nav-item" role="presentation">
        <a class="nav-link text-black-50 font-weight-bold tab" id="following-tab" data-toggle="tab" href="#following" role="tab" aria-controls="following" aria-selected="false"><i class="fas fa-user-clock mr-1"></i>タイムライン</a>
      </li>
    <% end %>
  </ul>
  
  <!--ライン-->
  <div class="col border-top"></div>
  
  <!--タブコンテンツ-->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="new-tab">
          <div class='jscroll-div'>
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
              <%= render "public/posts/index", posts: @posts %>
            </div>
            <%= paginate @posts %>
          </div>
    </div>
    <div class="tab-pane fade" id="ranking" role="tabpanel" aria-labelledby="ranking-tab">
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
        <%= render "public/posts/index", posts: @rank_posts %>
      </div>
    </div>
    <% if current_member %>
      <div class="tab-pane fade" id="following" role="tabpanel" aria-labelledby="following-tab">
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
          <%= render "public/posts/index", posts: @tl_posts %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  $('.jscroll-div').jscroll({
    contentSelector: '.jscroll-div',
    nextSelector: 'a.jscroll-next',
    loadingHtml: '読み込み中',
    padding: 10
  });
</script>