<div class="container mt-5">

  <!--ユーザー情報-->
  <div class="row justify-content-center text-center">
    <!--ユーザーアイコン-->
    <div class="col-12">
      <% if @member.profile_image.attached? %>
        <%= image_tag @member.profile_image.variant(resize: '100x100'), class: "d-inline rounded-circle mx-auto" %>
      <% else %>
        <%= image_tag "no_image.jpg", class: "d-inline rounded-circle mx-auto", size: '100x100' %>
      <% end %>
    </div>
    <!--ユーザー名-->
    <div class="col-12">
      <h3 class="font-weight-bold"><%= @member.name %></h3>
    </div>
    <!--自己紹介-->
    <div class="col-12">
      <p><%= @member.introduction %></p>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <div class="mr-3"><span class="font-weight-bold mr-1"><%= @member.followings.count %></span>フォロー中</div>
      <div><span class="font-weight-bold mr-1"><%= @member.followers.count %></span>フォロワー</div>
    </div>
  </div>

  <!--ユーザー情報編集ボタン-->
  <% if current_member %>
    <div class="row">
      <div class="col d-flex justify-content-end">
        <% if @member == current_member %>
          <%= link_to edit_member_path(@member), class: "btn btn-outline-secondary rounded-pill px-4" do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        <% else %>
          <% if current_member.following?(@member) %>
            <%= link_to "フォローを外す", member_relationships_path(@member), method: :delete, class: "btn btn-outline-secondary rounded-pill" %>
          <% else %>
            <%= link_to "フォローする", member_relationships_path(@member), method: :post, class: "btn btn-outline-secondary rounded-pill" %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="container mb-5">

  <!--タブメニュー-->
  <ul class="nav justify-content-center" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link text-black-50 font-weight-bold tab <% if @tab == 'post' %> active<% end %>" id="post-tab" data-toggle="tab" href="#post" role="tab" aria-controls="post" aria-selected="<%= @tab == 'post' ? 'true' : 'false' %>"><i class="far fa-images mr-1"></i>投稿</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link text-black-50 font-weight-bold tab <% if @tab == 'fav' %> active<% end %>" id="fav-tab" data-toggle="tab" href="#fav" role="tab" aria-controls="fav" aria-selected="<%= @tab == 'fav' ? 'true' : 'false' %>"><i class="far fa-heart mr-1"></i>お気に入り</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link text-black-50 font-weight-bold tab <% if @tab == 'following' %> active<% end %>" id="following-tab" data-toggle="tab" href="#following" role="tab" aria-controls="following" aria-selected="<%= @tab == 'following' ? 'true' : 'false' %>">フォロー中</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link text-black-50 font-weight-bold tab <% if @tab == 'followers' %> active<% end %>" id="followers-tab" data-toggle="tab" href="#followers" role="tab" aria-controls="followers" aria-selected="<%= @tab == 'followers' ? 'true' : 'false' %>">フォロワー</a>
    </li>
  </ul>

  <!--ボーダーライン-->
  <div class="col border-top"></div>

  <!--タブコンテンツ-->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade <% if @tab == 'post' %> show active<% end %>" id="post" role="tabpanel" aria-labelledby="post-tab">
      <% if @posts.present? %>
        <div class='jscroll-div'>
          <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
            <%= render "public/posts/index", posts: @posts %>
          </div>
          <%= paginate @posts, params: {tab: 'post'} %>
        </div>
      <% else %>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-3 justify-content-center">
          投稿がまだありません
        </div>
       <% end %>
    </div>

    <div class="tab-pane fade <% if @tab == 'fav' %> show active<% end %>" id="fav" role="tabpanel" aria-labelledby="fav-tab">
      <% if @favorite_list.present? %>
          <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
            <%= render "public/posts/index", posts: @favorite_list %>
          </div>
          <%= paginate @favorite_list, params: {tab: 'fav'} %>
      <% else %>
          <div class="row row-cols-1 row-cols-md-3 g-4 mt-3 justify-content-center">
            お気に入りがありません
          </div>
      <% end %>
    </div>
    <div class="tab-pane fade <% if @tab == 'following' %> show active<% end %>" id="following" role="tabpanel" aria-labelledby="following-tab">
      <% if @following.exists? %>
        <% @following.each do |member| %>
            <div class="d-flex mb-2 border-bottom">
              <div>
                <% if member.profile_image.attached? %>
                  <%= link_to member_path(member) do %>
                    <%= image_tag member.profile_image.variant(resize: '40x40'), class: "rounded-circle" %>
                  <% end %>
                <% else %>
                  <%= link_to member_path(member) do %>
                    <%= image_tag "no_image.jpg", class: "rounded-circle", size: '40x40' %>
                  <% end %>
                <% end %>
              </div>
              <div class="ms-2 flex-grow-1 ml-">
                <div>
                  <%= link_to member.name, member_path(member), class: "text-dark comment-member_name text-decoration-none" %>
                </div>
                <div style="word-break: break-all;"><%= member.introduction.truncate(40) %></div>
              </div>
            </div>
        <% end %>
      <% else %>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-3 justify-content-center">
          フォロー中のユーザーはいません
        </div>
      <% end %>
    </div>
    
    <div class="tab-pane fade <% if @tab == 'followers' %> show active<% end %>" id="followers" role="tabpanel" aria-labelledby="followers-tab">
      <% if @followers.exists? %>
        <% @followers.each do |member| %>
            <div class="d-flex mb-2 border-bottom">
              <div>
                <% if member.profile_image.attached? %>
                  <%= link_to member_path(member) do %>
                    <%= image_tag member.profile_image.variant(resize: '40x40'), class: "rounded-circle" %>
                  <% end %>
                <% else %>
                  <%= link_to member_path(member) do %>
                    <%= image_tag "no_image.jpg", class: "rounded-circle", size: '40x40' %>
                  <% end %>
                <% end %>
              </div>
              <div class="ms-2 flex-grow-1 ml-">
                <div>
                  <%= link_to member.name, member_path(member), class: "text-dark comment-member_name text-decoration-none" %>
                </div>
                <div style="word-break: break-all;"><%= member.introduction.truncate(40) %></div>
              </div>
            </div>
        <% end %>
      <% else %>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-3 justify-content-center">
          フォローされているユーザーはいません
        </div>
      <% end %>
    </div>
    
  </div>
</div>
<script>
  $('.jscroll-div').jscroll({
    contentSelector: '.jscroll-div',
    nextSelector: 'a.jscroll-next',
    loadingHtml: '読み込み中',
    padding: 10
  });
</script>